@font-face{
  font-family: digital-num;
  src: url('./sa-digital-number.ttf')
}

.box{
  outline: none;
  float: left;
  padding: 0;
  height: 30px;
  width: 30px;
}
.unopen{
  background-color: #D8D8D8;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #B0B0B0;
  border-bottom: 2px solid #B0B0B0;
}
.opened{
  border: 1px solid #B0B0B0;
  background-color: #D8D8D8;
}
.box #flag{
  float: left;
  height: 26px;
  width: 25px;
}
.box #mine{
  float: left;
  height: 26px;
  width: 27px;
}
.box span{
  font-weight: bold;
  font-size: 12px;
}
.box .zero{
  display: none;
}
.box .one{
  color: mediumblue;
}
.box .two{
  color: green
}
.box .three{
  color: red;
}
.box .four{
  color: darkblue
}
.box .five{
  color: darkred;
}
.box .six{
  color: orange;
}
.box .seven{
  color: purple;
}
.box .eight{
  color: black;
}

.menu{
  margin-top: 15px;
  margin-left: 30%;
}
.menu div{
  display: inline-block;
  cursor: pointer;
  width: 25%;
  text-shadow:#FF0000 0 0 5px;
  color:white;
  font-size:25px
}

.dialog{
  height: 100px;
  width: 500px;
  margin-left: 450px;
  margin-top: 100px;
  outline: #F8F8F8 ridge 10px;
}
.dialog div{
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
.dialog button{
  font-size: 20px;
  margin-top: 10px;
}

.record_panel .time{
  font-family: digital-num;
  font-size: 18px;
  margin-top: 5px;
  float: left;
  margin-left: 4px;
  background-color: #101010;
  padding: 2px;
  color: #B00000
}
.record_panel .left{
  font-family: digital-num;
  font-size: 18px;
  margin-top: 5px;
  float: right;
  margin-right: 4px;
  background-color: #101010;
  padding: 2px;
  color: #B00000
}
