.box{
  outline: none;
  float: left;
  padding: 0;
  height: 30px;
  width: 30px;
}
.unopen{
  background-color: #D8D8D8;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #B0B0B0;
  border-bottom: 2px solid #B0B0B0;
}
.opened{
  border: 1px solid #B0B0B0;
  background-color: #D8D8D8;
}
.box #flag{
  float: left;
  height: 26px;
  width: 25px;
}
.box #mine{
  float: left;
  height: 26px;
  width: 27px;
}
.box span{
  font-weight: bold;
  font-size: 12px;
}
.box .zero{
  display: none;
}
.box .one{
  color: mediumblue;
}
.box .two{
  color: green
}
.box .three{
  color: red;
}
.box .four{
  color: darkblue
}
.box .five{
  color: darkred;
}
.box .six{
  color: orange;
}
.box .seven{
  color: purple;
}
.box .eight{
  color: black;
}

.menu, #game_dialog, #help_dialog{
  font-size: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu{
  background-color: lightgrey;
}
.menu li{
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.menu li span{
  display: block;
  padding: 2px 10px 2px 10px;
  color: black;
  background-color: lightgrey;
  white-space: nowrap;
  margin-right: 2px;
}
.open li{
  float: none;
  font-size: 11px;
}

.board{
  margin-left: 38%;
  margin-top: 6%;
  width: 280px;
  height: 340px;
  border: 5px solid lightgrey;
  background-color: lightgrey;
}
.box_panel{
  border-color: grey white white grey;
  border-width: 2px;
  border-style: solid;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px;
  box-sizing: border-box;
  height: 274px;
}
.record_panel{
  border-color: grey white white grey;
  border-width: 2px;
  border-style: solid;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
  height: 40px;
}
